@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Potta+One&display=swap');

html * {
    box-sizing: border-box;
    font-family: Oswald;
    background-color: lightgreen;
    background-repeat: no-repeat;
    background-size: cover;
}
  
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
  }
img {
    height: 100px;
    width: 100px;
}

.Game {
    text-align: center;
}

.statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  
.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
    font-family: 'Potta One', Oswald, sans-serif;
}

.Team .identity {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:magenta;
}
  
.shotButton {
    align-self: center;
    background-color: lightblue;
    display: block;
    box-shadow: 2px 2px 0 black;
    border-radius: 50px;
    width:50px;
    font-size:15px;
}

.resetButton {
    background-color: red;
    font-size: 18px;
}

